<h1>Development Blog - RubyQuest Team</h1>

<% if current_user && current_user.admin %>
<%= link_to 'New Blog Post', new_article_path, class: "nbmargin" %><br><br>
<% end %>

<table style="margin-left: 20px;">
  <tr>
    <th width="40%">Title</th>
    <th width="40%">Post Date</th>
    <th width="20%">Options</th>
    <th colspan="3"></th>
  </tr>

  <% @articles.each do |article| %>
  <tr class="articles">
    <td><%= article.title %></td>
    <td><%= time_ago_in_words(article.created_at) %></td>
    <td>
      <%= link_to 'View', article_path(article) %>
      <% if current_user && current_user.admin %>
      <%= link_to 'Edit', edit_article_path(article) %>
      <%= link_to 'Delete', article_path(article), method: :delete,
                                                   data: { confirm: 'OK to delete?' } %>
      <% end %>
    </td>
  </tr>
  <% end %>
</table>
