<h1>Sign Up!</h1>
<div class="text-justify">
<%= form_for :user, url: '/users' do |f| %>
	<div class="form">
		<%= f.label :name %>
		<%=f.text_field :name %>
	</div>
	<br/>
	<div class="form">
		<%= f.label :username %>
		<%=f.text_field :username %>
	</div>
	<br/>
	<div class="form">
		<%= f.label :email %>
		<%=f.text_field :email %>
	</div>
	<br/>
	<div class="form">
		<%= f.label :password %>
		<%=f.password_field :password %>
	</div>
	<br/>
	<div class="form">
		<%= f.label :password_confirmation %>
		<%=f.password_field :password_confirmation %>
	</div>
	<br/>
		    <%= f.submit "Submit" %>
	<br/>

	<% end %>
</div>
